In [4]:
import seaborn as sb
from matplotlib import pyplot as plt
import pandas as pd

# 분류 알고리즘 패키지
from sklearn.neighbors import KNeighborsClassifier

# 군집 알고리즘 패키지
from sklearn.cluster import KMeans

from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler

# 평가 함수
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import f1_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import silhouette_score

### 02. 데이터 가져오기

In [5]:
origin = pd.read_csv("./orange_grapefruit/citrus.csv")

### 03. 데이터 전처리

#### 라벨링을 위해서 종속변수 확인

In [7]:
origin['name'].unique()

array(['orange', 'grapefruit'], dtype=object)

#### 라벨링 적용

In [8]:
df = origin.copy()
df['name'] = df['name'].map({'orange': 0, "grapefruit":1})
df.head()

   name  diameter  weight  red  green  blue
0     0      2.96   86.76  172     85     2
1     0      3.91   88.05  166     78     3
2     0      4.42   95.17  156     81     2
3     0      4.47   95.60  163     81     4
4     0      4.48   95.76  161     72     9

#### 독립변수, 종속변수 분리

In [9]:
x = df.drop('name', axis = 1)
y = df['name']
x.shape, y.shape

((10000, 5), (10000,))

In [ ]:
inertia =

#### 가장 큰 정확도와 그에 대한 k값

In [ ]:
max_acc = max(k_scores)
knn.fit(x,y)