# F검정 (분산분석)
## F검정의 이해
두 집단의 평균을 비교할 때는 t 검정을 쓰고, 3개 이상의 집단의 평균을 비교할 때는 분산 분석을 수행한다.

두 집단의 경우에 분산분석을 해도 되는데, 그때는 t 검정과 결과가 동일함

세 개 이상의 집단을 대상으로 두 집단씩 여러번 t검정을 수행하게 되면 신뢰도가 급격히 감소하게 되는데 분산 분석은 이러한 현상이 발생하지 않는다.

### 분산
- 데이터의 변동 정도를 의미하는 지표
- 편차의 제곱에 대한 평균
- 분산이 크다 --> 데이터의 산포도가 크다 (데이터가 넓게 펴져있음)
### F검정의 가설

|가설|설명|식|
|---|---|---|
|귀무가설|모든 집단의 평균이 같다|$H_0 : \sigma_1 = \sigma_1$|
|대립가설|모든 집단의 평균이 다르다 |$H_0 : \sigma_1 \neq \sigma_1$|

`p < 유의수준`이면 귀무가설을 기각하고, 대립가설을 채택한다.

대립가설을 자세히 보시면 "어떤 집단의 평균이 다르다"이다.

집단이 A, B, C가 있으면 A와 B가 다른지 B와 C가 다른지는 분산 분석으로 알 수 없다.

>>A와 B가 다른지 B와 C가 다른지는 사후 검정으로 확인해야 한다.

In [1]:
from pandas import read_excel
from scipy.stats import f_oneway

### 데이터 가져오기
어떤 지역에서 동일한 제품을 판매하고 있는 두 가게에 대한 일별 매출액

In [2]:
df = read_excel("https://data.hossam.kr/E02/store.xlsx")
df

   store1  store2
0      46      78
1      47      57
2      58      31
3      47      28
4      27      67
5      58      77
6      56      36
7      26      57
8      47      36
9      25      57

## 02. 분산분석 시행

In [3]:
f_oneway(df['store1'], df['store2'])

F_onewayResult(statistic=1.4591624718860445, pvalue=0.24269553293319623)

### 해석
`p-value`가 0.05보다 크므로 귀무가설을 기각할 수 없다.

즉, 두 가게의 일별 매출 평균은 같다.