In [27]:
import pymysql
from sqlalchemy import create_engine 
from pandas import DataFrame
from  pandas import read_sql, read_sql_table

In [28]:
dbcon = pymysql.connect(host="127.0.0.1",
                        port=3306,
                        user="root",
                        password='1234',
                        db='board',
                        charset='utf8')

###### <strong> 데이터 조회를 위한 커서 객체 생성

In [29]:
cursor=dbcon.cursor()

###### <strong> 데이터 조회를 위한 SQL문 처리

In [30]:
sql = "SELECT * FROM board_main_post"
cursor.execute(sql)
result = cursor.fetchall()
result

((1,
  'pandas test',
  '  .',
  datetime.datetime(2023, 6, 27, 5, 3, 22),
  datetime.datetime(2023, 6, 27, 5, 3, 22)),
 (2,
  'pandas test2',
  'aaa  .',
  datetime.datetime(2023, 6, 27, 5, 3, 45),
  datetime.datetime(2023, 6, 27, 5, 3, 45)))

In [31]:
#딕셔너리 형태로 데이터 조회
cursor = dbcon.cursor(pymysql.cursors.DictCursor)

In [32]:
sql = "SELECT * FROM board_main_post"
cursor.execute(sql)
result = cursor.fetchall()
result

[{'id': 1,
  'title': 'pandas test',
  'contents': '  .',
  'created_at': datetime.datetime(2023, 6, 27, 5, 3, 22),
  'updated_at': datetime.datetime(2023, 6, 27, 5, 3, 22)},
 {'id': 2,
  'title': 'pandas test2',
  'contents': 'aaa  .',
  'created_at': datetime.datetime(2023, 6, 27, 5, 3, 45),
  'updated_at': datetime.datetime(2023, 6, 27, 5, 3, 45)}]

In [33]:
df = DataFrame(result)
df

   id         title contents          created_at          updated_at
0   1   pandas test        . 2023-06-27 05:03:22 2023-06-27 05:03:22
1   2  pandas test2   aaa  . 2023-06-27 05:03:45 2023-06-27 05:03:45

###### 데이터 프레임에 대한 인덱스 설정

In [34]:
df.set_index('id',inplace = True)
df

           title contents          created_at          updated_at
id
1    pandas test        . 2023-06-27 05:03:22 2023-06-27 05:03:22
2   pandas test2   aaa  . 2023-06-27 05:03:45 2023-06-27 05:03:45

In [38]:
sql = """INSERT INTO board_main_post (title,contents) Values('Alone',"I am alone but I am happy")"""
print(sql)

rows = cursor.execute(sql)
print("%d개의 행이 저장됨" % rows)
print("생성된 Primary Key: %d" % cursor.lastrowid)

# 처리 결과를 실제로 반여함
dbcon.commit()

# 되돌리기
# --> 이미 commit()한 내역은 적용안됨
# dbcon.rollback()

INSERT INTO board_main_post (title,contents) Values('Alone',"I am alone but I am happy")
1개의 행이 저장됨
생성된 Primary Key: 3

###### 데이터 수정

In [44]:
sql = """UPDATE board_main_post SET title = "수정된 제목", 
            contents = "수정된 내용"
            WHERE id=3"""
print(sql)

rows = cursor.execute(sql)
print("%d개의 행이 갱신됨" % rows)

dbcon.commit()

UPDATE board_main_post SET title = "수정된 제목",
            contents = "수정된 내용"
            WHERE id=3
1개의 행이 갱신됨

###### 데이터 삭제

In [45]:
sql = "DELETE FROM board_main_post WHERE id >10"
print(sql)

rows = cursor.execute(sql)
print('%d개의 행이 삭제됨' % rows)

dbcon.commit()

DELETE FROM board_main_post WHERE id >10
0개의 행이 삭제됨

##### 접속 문자열 생성

In [55]:
pymysql.install_as_MySQLdb()
import MySQLdb

In [60]:
conStr = 'mysql+mysqldb://root:1234@127.0.0.1:3306/board?charset=utf8'
conStr

'mysql+mysqldb://root:1234@127.0.0.1:3306/board?charset=utf8'

In [61]:
engine = create_engine(conStr)
conn = engine.connect()

In [62]:
df = read_sql('SELECT * FROM board_main_post', index_col="id",con=conn)
df

           title contents          created_at          updated_at
id
1    pandas test        . 2023-06-27 05:03:22 2023-06-27 05:03:22
2   pandas test2   aaa  . 2023-06-27 05:03:45 2023-06-27 05:03:45
3         수정된 제목   수정된 내용                 NaT                 NaT

##### 테이블의 데이터를 직접 가져오기

###### 모든 데이터 조회

In [64]:
df = read_sql_table("board_main_post", con = conn)
df

   id         title contents          created_at          updated_at
0   1   pandas test        . 2023-06-27 05:03:22 2023-06-27 05:03:22
1   2  pandas test2   aaa  . 2023-06-27 05:03:45 2023-06-27 05:03:45
2   3        수정된 제목   수정된 내용                 NaT                 NaT

###### 인덱스를 지정한 조회

###### <strong> `read_sql_table` 함수를 사용할 경우 WHERE절은 사용할 수 없다.

In [65]:
df = read_sql_table('board_main_post', index_col='id',con=conn)
df

           title contents          created_at          updated_at
id
1    pandas test        . 2023-06-27 05:03:22 2023-06-27 05:03:22
2   pandas test2   aaa  . 2023-06-27 05:03:45 2023-06-27 05:03:45
3         수정된 제목   수정된 내용                 NaT                 NaT

###### 특정 컬럼만 가져오기

In [68]:
df = read_sql_table("board_main_post", index_col ='id', columns= ['title','contents'],con = conn)
df

           title contents
id
1    pandas test        .
2   pandas test2   aaa  .
3         수정된 제목   수정된 내용

##### 데이터 내보내기
<li> name='테이블명' 이름으로 기존 테이블이 있으면 해당 테이블의 컬럼명에 맞게 데이터를 넣을 수 있음 </li>
<li> if_exists='append'옵션이 있으면, 기존 테이블에 데이터를 추가로 넣음</li>
<li> if_exists = 'fail'옵션이 있으면, 기존 테이블이 있을 경우, 아무일도 하지 않음 </li>
<li> if_exists = 'replace'옵션이 있으면, 기존 테이블이 있을 경우, 기존 테이블을 삭제하고, 다시 테이블을 만들어서, 새로운 데이터를 넣음
</li>

이미 만들어진 테이블이 없으면, name="테이블명'이름으로 테이블을 자동으로 만들고, 데이터를 넣을 수 있음
테이블이 자동으로 만들어지므로, 테이블 구조가 최적화되지 않아 자동으로 테이블 만드는 것은 추천하지 않음

In [69]:
df.to_sql(name="new_table", con =conn, if_exists='append',index=False)
conn.commit()

In [70]:
conn.close()