In [1]:
from pandas import read_excel

In [2]:
df = read_excel("https://data.hossam.kr/grade.xlsx",index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

엑셀 파일로 내보내기

In [3]:
df.to_excel('1.xlsx')

### 파라미터 설정
인덱스를 포함하는 경우

In [4]:
df.to_excel('2.xlsx', index=True,index_label='이름')

인덱스를 포함하지 않는 경우

In [6]:
df.to_excel('3.xlsx',
            index=False,
            columns=['학년', '성별', '국어'],
            header = ['level', 'sex', 'kor'])

CSV로 내보내기

###### encoding을 설정하는 것 외에는 엑셀파일을 내보내는 것과 동일하다.
원본 그대로 저장하기

In [7]:
df.to_csv('1.csv', encoding='utf-8')

#### 파라미터 설정
인덱스를 포함하는 경우

In [9]:
df.to_csv("2.csv",
          encoding='utf-8',
          index=True,
          index_label='이름')

인덱스를 포함하지 않는 경우

In [10]:
df.to_csv("3.csv",
          encoding='utf-8',
          index= False,
          columns=['학년', '성별','국어'],
          header = ['level','sex','kore']
)

gl.glob는 파일을 찾는 패키지
`import glob as gl`로 사용가능